<div class="container mx-auto px-4 min-h-screen">
  <h1 class="text-4xl text-center py-6 text-blue-900">Todo Page</h1>
  <div class="flex flex-row gap-4 p-2 mb-6 w-100">
    <input
      class="border-2 p-4 text-lg"
      placeholder="todo title ..."
      [(ngModel)]="title"
    />
    <input
      class="border-2 p-4 text-lg"
      placeholder="description ..."
      [(ngModel)]="description"
    />
    <button
      class="bg-green-200 hover:bg-green-300 py-4 px-8 ml-auto rounded-md font-bold text-lg"
      (click)="addNewTodo()"
    >
      Add Todo
    </button>
  </div>
  <app-todo-list
    [todos]="todos"
    (deleteAction)="deleteTodo($event)"
    (toggleAction)="toggleTodo($event)"
  ></app-todo-list>
</div>
